/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome";

$font-color: #484848;
$white: #fff;
$green: #00a699;

// common

* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 100;
}

body,a{
	color:$font-color;
}
strong{
  font-weight: 500;
}
a:hover, a:focus{
  color:$font-color;
  text-decoration: none;
}

ul{
	list-style: none;
  &.disc{
    list-style: disc;
  }
  *{
    word-wrap: break-word;
  }
  li.h4.active>*{
    font-weight: 500;
  }
}

label {
  font-size: 1.2em;
}

textarea{
  resize:none;
}

select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  vertical-align: sub;
}

input[type="checkbox"]:checked{
  outline: 0;
  outline-offset: 0;
  background: $green;
  border-color: $green;
}


.container .jumbotron, .container-fluid .jumbotron{
  padding-left:0;
  padding-right:0;
}

.jumbotron{
  background-color: $white;
  margin-bottom: 0;
  h1{
    font-size: 48px;
    font-weight:100;
  }
}

.font-green{
  color: $green;
}
.font-slim{
  font-weight: 100;
}

.well.edge{
  border-radius:0;
  background-color: $white;
  box-shadow:none;
}

.margin-top{
  margin-top: 20px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.margin-left{
  margin-left: 20px;
}
.margin-right{
  margin-right: 20px;
}

.panel{
  box-shadow:none;
}

.panel-heading.preview{
  padding: 0;
  background-color: #ddd;

  img{
    width: 100%;
  }
}

.form-control{
  box-shadow: none;
}

.avatar-small{
	width: 26px;
	height: 26px;
}

.avatar-medium{
  width: 60px;
  height: 60px;
}

.avatar-large{
	width: 90px;
	height: 90px;
}

.avatar-xlarge{
  width: 120px;
  height: 120px;
}

.btn-wide{
  width: 100%;
  padding:15px 30px;
}

.btn-facebook{
  background-color: #4568b2;
  color: $white;
  
  &:focus, &:active, &:hover{
    background-color: #4568b2;
    color: $white;
  }
}

.btn-google{
  background-color: $white;
  border: 1px solid #ccc;
  color: $font-color;

  &:focus, &:active, &:hover{
    background-color: $white;
    border: 1px solid #ccc;
    color: $font-color;
  }
}

.btn-green{
	background-color: $green;
	color: $white;

  &:focus, &:active, &:hover{
    background-color: $green;
    color: $white;
  }
}



// nav-bar
.navbar-airbnb{
	background-color: $white;
	height: 61px;
	margin-bottom: 0;
}

#toggleLogo>.caret{
  position: relative;
  right: -35px;
  top: -25px;
}

.navbar-nav{
	background-color: $white;

  li {
    a:hover, a:focus {
      background-color: transparent;
      color:$green;
    }
  }
}


//search
#search_wrap.well{
  box-shadow:none;
  background-color: $white;
  letter-spacing: -0.5px;
  padding-bottom: 15px;

  label{
    width: 100%;
    font-weight: 100;
    margin-bottom: 0;
  }
  svg{
    width: 15px;
  }
  input[type="text"]{
    font-size: 19px;
    width: 100%;
    border: 0;
  }
  input[type="text"].check_in_out{
    width: 40%;
  }
}


// newroom
#new-room {
  .panel {
    margin-top: 30px;
    i{
      font-size: 30px;
    }
    .panel-heading{
      background-color: $white;
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.btn-file{
	position: relative;
	overflow: hidden;
}

.btn-file input[type="file"]{
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background-color: $white;
	cursor: pointer;
	display: block;
}

//message
#compose-message{}

.panel-body.panel-dark{
  padding: 0;
  height: 100%;
  .dark-bgc{
    background-color: #f5f5f5;
    padding: 30px;
  }
}

//login-modal
.signup-or-separator{
  background: none;
  height: 34px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  
  hr{
    margin: -24px auto 10px;
    width: 100%;
  }
}

.signup-or-separator--text{
  background-color: $white;
  display: inline-block;
  padding: 8px;
}

.form-control.form-sign{
  padding:30px 15px;
  margin-bottom: 5px;
}


/*trip index*/
.trip_list{
	margin-bottom: 20px;
}
.trip_wrap{
	position: relative	
}
.trip_title{
	position: absolute;
	color:$white;
	bottom: 35px;
	left: 30px;
}
.trip_summary{
	position: absolute;
	color:$white;
	bottom: 10px;
	left: 30px;
}

/*room index*/
.room_list{
	padding: 10px;
}

/*room show*/
#preview {
  margin-bottom: 20px;
  margin-left: 0;

  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
  padding: 10px;
}

.cover-image-container{
	margin-right: auto;
  margin-left: auto;
	width: 100%;
	height: 405px;
	background-color: black;
}

.cover-img{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #f5f5f5;
	width: auto;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
  
  .btn{
    position: absolute;
    top: 350px;
    left: 30px;
  }
}

.cover-img-placeholder{
	background-image: image-url("room_default_main.png");
	-webkit-background-size: auto;
	background-size: auto;
}

.summary{
	margin-top: 30px;
	padding-bottom: 10px; 
}

.details{
	padding-top: 25px;
	font-size: 1.1em;
}

.room_price{
	background-color: #666;
	color: $white;
	font-size: 1.7em;
	padding: 8px;

  span{
    font-size: 0.7em;
  }
}

#new_reservation label{
	font-weight: 100;
	font-size: 1.1em;
	margin-left: 2px;
}
.reservation-btn{
	margin-top: 10px;
	width: 100%;
}

.form_wrap{
	border: 1px solid #ddd;
  padding: 20px 0 20px 
}

#preview_price table{
	width: 100%;
	font-size: 1.1em;

  tr {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    &.last_table_row{
      border-bottom: 0;
    }
  }
  th, td{
    padding: 8px;
  }
  td{
    text-align: right;
  }
}

// review
.fa-star, .fa-star-o, .fa-star-half-o{
  color: $green;
}

// user
.profile_information{
	font-size: 1.1em;
}

.profile_room_list{
	margin-bottom: 20px;
}
.profile_room_wrap{
	position: relative	
}
.profile_room_title{
	position: absolute;
	color:$white;
	bottom: 35px;
	left: 10px;
}
.profile_room_summary{
	position: absolute;
	color:$white;
	bottom: 10px;
	left: 10px;
}

/*mobile*/
@media screen and (max-width: 650px){
  .jumbotron>h1{
    font-size: 25px;
    font-weight:100;
  }
  #search_wrap .action svg{
    margin: 0 auto;
  }
  .small_mobile_show{
    display: block !important;
  }
  .small_mobile_hide{
    display: none;
  }

}

/*mobile + tablet*/
@media screen and (max-width: 767px){
	#toggleLogo, .navbar-nav > .mobileView{
		display: block;
	}
  .mobileHide{
    display: none;
  }
	#toggleLogo>.caret.rotate{
		transform: rotate(180deg);
		transition: 0.3s;
	}

	#notToggleLogo, .navbar-nav > .mobileHide{
		display:none;
	}
	.navbar-nav > li{
		font-size: 1.3em;
	}
	.navbar-nav > li > a {
		padding: 15px 25px;
  }
  hr.mobileView{
  	margin: 10px 20px;
  }
  
  // index page search
  #search_wrap.well{}
  
	.summary-room-info{
		text-align: center;
	}
	
	.modal-dialog {
    margin: 60px auto;
	}

	.cover-img .btn{
	  right: 30px;
	}

	.room_price{
		margin-top: 10px;
	}
}

/*computer*/
@media (min-width: 768px){
  .small_mobile_show, .mobileView{
    display: none;
  }
	#toggleLogo, .navbar-nav > .mobileView{
		display:none;
	}

	#notToggleLogo, .navbar-nav > .mobileHide{
		display:block;
	}

	.navbar-nav > li {
    font-size: 14px;
    >a{
      height: 60px;
      line-height: 30px;
      img{
        position: relative;
        top: -2px;
      }
    }
  }

	.modal-dialog {
    width: 450px;
    margin: 60px auto;
	}

  .modal-body{
    padding: 30px;
    .btn{
      position: relative;
      i{
        position: absolute;
        top: 18px;
        left: 20px;
      }
    }
  }

}
