/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

* {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 100;
}

body,a{
	color:#484848;
}

.avatar-small{
	width: 26px;
	height: 26px;
}

.navbar-airbnb{
	background-color: #fff;
	height: 61px;
	border-bottom: 1px solid black;
}

#toggleLogo>.caret{
	position: relative;
  right: -35px;
  top: -25px;
}

ul.navbar-nav{
	background-color: #fff;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  background-color: transparent;
  color:#00a699;
}

/*mobile*/
@media screen and (max-width: 767px){
	#toggleLogo, .navbar-nav > .mobileView{
		display:block;
	}
	#toggleLogo>.caret.rotate{
		transform: rotate(180deg);
		transition: 0.3s;
	}

	#notToggleLogo, .navbar-nav > .mobileHide{
		display:none;
	}
	.navbar-nav > li{
		font-size: 1.3em;
	}
	.navbar-nav > li > a {
		padding: 15px 25px;
  }
  hr.mobileView{
  	margin: 10px 20px;
  }

}

/*computer*/
@media (min-width: 768px){
	#toggleLogo, .navbar-nav > .mobileView{
		display:none;
	}
	#notToggleLogo, .navbar-nav > .mobileHide{
		display:block;
	}

	.navbar-nav > li {font-size: 14px;}
	.navbar-nav > li > a {
		height: 60px;
		line-height: 30px;
  }
  .navbar-nav > li > a > img{
  	position: relative;
    top: -2px;
	}
}
