<%=form_for([@room, @room.reviews.new]) do |f|%>
<div class="starwrap row">

  <div class="col-md-2 mobileHide">평가</div>
  <div class="col-md-3">
    가치 <div id="value" class="star"></div>
    청결도 <div id="cleanliness" class="star"></div>
  </div>
  <div class="col-md-3">
    위치 <div id="location" class="star"></div>
    정확성 <div id="accuracy" class="star"></div>
  </div>
  
</div>
<div class="row">
  <div class="review_textarea col-md-8">
    <%=f.text_area :comment, class: "form-control"%>
    <%=f.submit "리뷰 작성하기", class: "btn btn-green"%>
  </div>
  <%=f.hidden_field :room_id, value: @room.id%>
</div>
<%end%>

<script>
  $('#value').raty({
    score: 5,
    scoreName: "review[value]"
  });
  $('#cleanliness').raty({
    score: 5,
    scoreName: "review[cleanliness]"
  }); 
  $('#location').raty({
    score: 5,
    scoreName: "review[location]"
  }); 
  $('#accuracy').raty({
    score: 5,
    scoreName: "review[accuracy]"
  }); 
</script>